<form class="container mt-5 new-log-form">

    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="city" placeholder="City">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="lat" placeholder="Latitude">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="lon" placeholder="Longitude">
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <label for="inputComments" class="col text-right">Comments:</label>
            </div>
            <div class="col-9">
                <textarea class="form-control" id="inputComments" rows="5"
                    placeholder="Tell us how you feel..."></textarea>
            </div>
        </div>
        <div class="row">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Upload photo</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right mt-3">
                <button type="submit" id="locBtn" class="btn btn-primary">Add Location</button>
            </div>
        </div>
    </form>

    <script src="/javascript/add-pin.js"></script>