<form class="container mt-5 new-log-form">


    <div class="form-group row">
        <label for="inputComments" class="col-sm-3">Comments:</label>
        <div class="col-sm-9">
            <textarea class="form-control" id="inputComments" rows="5" placeholder="Tell us how you feel..."></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12 text-right mt-3">
            <button type="submit" class="btn btn-primary">Add Log</button>
        </div>
    </div>

</form>

<script src="/javascript/add-pin.js"></script>