<div class="container border">
    <div class="row">
        <div class="col">
            <div id="map">
            </div>
        </div>
    </div>
</div>

<script src="/javascript/map.js"></script>
