<div class="container border">
    <div class="row">
        <div class="col">
            <div id="pin-map">
                <div id="places"></div>
            </div>
        </div>
    </div>
</div>

<script src="../public/javascript/map.js"></script>