<h1 class="text-center font-weight-bold text-uppercase">The Traveler</h1>

<img class="img-fluid mx-auto d-block" src="https://newzealandtrails.com/assets/Uploads/_resampled/CroppedFocusedImageWzEyODAsNDcwLCJ4IiwwXQ/aoraki-mt-cook.jpg" alt="Mountains">

<div class="text-center mt-5">
  <button type="button" id="signInBtn" class="btn btn-primary text-center" onclick="window.location.href='/login'">Sign In</button>
  <p class="mt-3">Already a user?</p>
  <button type="button" id="signUpBtn" class="btn btn-primary" onclick="window.location.href='/signup'">Sign Up</button>
</div>
