<div class="container border">
    <div class="row">
        <div class="col">
            <div id="map">
            </div>
        </div>
    </div>
</div>

<script src="/javascript/map.js"></script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuW8hriTtxjhfk1GYdDvv7XRohfMMnkok&callback=initMap">
</script>