<form>
  <div class="container my-5 text-center">
      <div class="form-row">
        <div class="form-group col-md-6 text-center">
          <label class="text-primary" for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label class="text-primary" for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Agree to <a class="text-danger" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">terms and conditions</a>
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
  
</form>